:root{
  color-scheme: dark; /*Todo: this should be a setting*/
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

h3 > p { /*Clear margin from showdown.js*/
  margin: 0;
}

.slideInAnimation {
  animation-duration: 2s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}

.collapse {
  animation-duration: 0.5s;
  animation-name: collapseItem;
  animation-fill-mode: forwards;
}

@keyframes collapseItem {
  to {
    transform: scaleY(0);
  }
}

.slideInOthers {
  animation-duration: 0.5s;
  animation-name: collapseWidth;
}

@keyframes collapseWidth {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(0);
    width: 0;
    margin: 0;
  }
}